/*paddin para input de empresas*/
.selc-empresa{
    padding-left: 43px;
}
/*paddin para input de empresas*/

/*quitar signos mayor y menos de input type number html*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}
input[type=number] {

    -moz-appearance:textfield;
}
/*quitar signos mayor y menos de input type number html*/

/*margin alert valid*/
#form-errors{
    margin-top: 60px;
}
/*margin alert valid*/